USE [AAD]
GO
/****** Object:  StoredProcedure [dbo].[usp_al_azb_import_appointment]    Script Date: 10/12/2025 1:01:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_al_azb_import_appointment]
    @in_vchHostGroupID          NVARCHAR(36),
    @out_nNewAppointFlag        INTEGER OUTPUT,--(Values: 1 if new items were inserted and 0 if not. 
    @out_vchCode                uddt_output_code   OUTPUT,
    @out_vchMsg                 uddt_output_msg    OUTPUT
AS
/*********************************************************************************
Stored Procedure Name : usp_al_azb_import_appointment
**********************************************************************************
   Description:	    This process creates appointment for inbound and outbound orders
					read data from t_al_host_appointment and insert or update to t_appointment	
	INPUT:
    OUTPUT:
        'SUCCESS'  or 'ERROR'
    Creat Date:	04/07/2020  By: Faraz
**********************************************************************************
-- History
--  [id]	Date		Name	    Note
--	-------	-----------	-----------	----
--	[1]		2020-08-21	Wai			Added if new carrier is downloaded, insert into t_carrier
--  [2]		2020-09-29	Wai			Reset the status to N and error_msg to NULL.  Reset like standard HJ download sproc
--  [3]		2024-07-31  Lutfi		Added Driver name,phone number, trailer number, truck number
--	[4]		2025-10-13	Lutfi		Added Order Appointment Creation/Update for Qulron(Check-in Application)
*********************************************************************************/
BEGIN
	BEGIN TRY
		SET NOCOUNT ON
		
		DECLARE 
			@RecCount			INT

		DECLARE @Ap_Tbl TABLE
			(
		 	host_appointment_id			int
			, host_group_id				nvarchar(36)
			, record_create_date		datetime 
			, processing_code			nvarchar(10)
			, order_number				nvarchar(30)
			, appointment_date_time		datetime 
			, pre_load_flag				nvarchar(10)
			, carrier					nvarchar(30)
			, commission_flag			nvarchar(30)
			, import_status				nvarchar(1)
			, error_msg					nvarchar(max)
			, wh_id						nvarchar(10)
			, type						nvarchar(10)
			, scac						nvarchar(50)
			,customer_appointment_number nvarchar(50)
			,driver_name				nvarchar(50)
			,driver_phone_number		nvarchar(50)
			,trailer_number				nvarchar(50)
			,truck_number				nvarchar(50)

			)

			---------------------------------------
			--  [2]	Reset the status to N and error_msg to NULL.  Reset like standard HJ download sproc
			---------------------------------------
			UPDATE t_al_host_azb_appointment
				SET	error_msg = NULL,
					import_status = N'N'
			WHERE 
				host_group_id = @in_vchHostGroupID;


			---------------------------------------
			-- [1] If new carrier insert into t_carrier
			---------------------------------------
			BEGIN TRY
			INSERT INTO t_carrier
				(carrier_code, carrier_name, scac_code, default_priority, manifest_carrier_flag, flagship_carrier_code)
			select DISTINCT 
				alp.scac, alp.carrier, alp.scac, 9, 0, alp.scac 
			FROM 
				t_al_host_azb_appointment (NOLOCK) alp
			LEFT OUTER JOIN
				t_carrier (NOLOCK) ca
			ON 
				alp.scac = ca.scac_code
  			WHERE 
				host_group_id = @in_vchHostGroupID
			AND
				ca.carrier_id IS NULL;
			END TRY
			BEGIN CATCH
				SET @out_vchMsg  = 'BAD CARRIER'
			END CATCH;


			INSERT INTO @Ap_Tbl
				(
				host_appointment_id			
				, host_group_id				
				, record_create_date		
				, processing_code			
				, order_number				
				, appointment_date_time		
				, pre_load_flag				
				, carrier					
				, commission_flag			
				, import_status				
				, error_msg					
				, wh_id						
				, type
				,scac	
				,customer_appointment_number
				,driver_name
				,driver_phone_number
				,trailer_number
				,truck_number
				)				
			SELECT 
				host_appointment_id			
				, host_group_id				
				, record_create_date		
				, processing_code			
				, order_number				
				, appointment_date_time		
				, pre_load_flag				
				, ca.carrier_id
				, commission_flag			
				, import_status				
				, error_msg					
				, wh_id						
				, type	
				, scac
				,customer_appointment_number
				,driver_name
				,driver_phone_number
				,trailer_number
				,truck_number
			FROM 
				t_al_host_azb_appointment (NOLOCK) alp
			LEFT OUTER JOIN
				t_carrier (NOLOCK) ca
			ON 
				alp.scac = ca.scac_code
  			WHERE 
				host_group_id = @in_vchHostGroupID
			
			-- Check Warehouse ID
			UPDATE tbl
			SET 
				error_msg =  'Warehouse Incorrect' 
				, import_status = 'E'
			FROM	
				@Ap_Tbl tbl 
			LEFT OUTER JOIN 
				t_whse (nolock) wh
			ON 
				tbl.wh_id = wh.wh_id
			WHERE 
				wh.wh_id is null
				AND isnull(tbl.import_status,'') != 'E'




--/*
			-- Check Carrier SCAC Code
			UPDATE tbl
			SET 
				error_msg =  'Carrier Incorrect' 
				, import_status = 'E'
			FROM	
				@Ap_Tbl tbl 
			LEFT OUTER JOIN 
				t_carrier (nolock) ca
			ON 
				tbl.scac = ca.scac_code
			WHERE 
				(ca.scac_code IS NULL OR  tbl.scac IS NULL)
				AND isnull(tbl.import_status,'') != 'E'

/*
			--Check the load_id is valid for OUTBOUND orders
			UPDATE tbl
			SET 
				error_msg =  'Order or lOAD ID Incorrect' 
				, import_status = 'E'
			FROM 
				@Ap_Tbl tbl
			LEFT JOIN 
				t_load_master (NOLOCK) lm
			ON 
				tbl.order_number = lm.load_id
			LEFT JOIN 
				t_order (NOLOCK) o
			ON 
				tbl.order_number = o.order_number
			WHERE 
				lm.load_id IS NULL
				AND o.order_number IS NULL
				AND isnull(tbl.import_status,'') != 'E'
				AND tbl.type = 'OUTBOUND'
*/
			--Check the load_id is valid for OUTBOUND orders
			UPDATE tbl
			SET 
				error_msg =  'Order Number is not correct' 
				, import_status = 'E'
			FROM 
				@Ap_Tbl tbl
			LEFT JOIN 
				t_af_load_detail (NOLOCK) ld
			ON 
				tbl.order_number = ld.order_number AND tbl.wh_id = ld.wh_id
			WHERE 
				ld.order_number IS NULL
				AND isnull(tbl.import_status,'') != 'E'
				AND tbl.type = 'OUTBOUND'

			--Check the PO Number is valid for INBOUND orders
			UPDATE tbl
			SET 
				error_msg =  'PO Number Incorrect' 
				, import_status = 'E'
			FROM	
				@Ap_Tbl tbl 
			LEFT OUTER JOIN 
				t_po_master (nolock) po
			ON 
				tbl.order_number = po.po_number
			WHERE 
				po.po_number is null
				AND isnull(tbl.import_status,'') != 'E'
				AND tbl.type = 'INBOUND'

			-- Check if appointment is more than One hour earlier than now
			UPDATE tbl
			SET 
				error_msg =  'Time passed for appointment' 
				, import_status = 'E'
			FROM	
				@Ap_Tbl tbl 
			WHERE 
				isnull(tbl.import_status,'') != 'E'
				AND tbl.appointment_date_time < (SELECT DATEADD(HOUR, -1, getdate()) AS DateAdd)

			-- update load sequence
			UPDATE ld
			SET 
				stop_id = ld.load_seq
			FROM 
				t_af_load_detail ld
			INNER JOIN 
				@Ap_Tbl tbl
			ON 
				tbl.order_number = ld.order_number AND tbl.wh_id = ld.wh_id
			WHERE 
				isnull(tbl.import_status,'') != 'E'
				AND tbl.type = 'OUTBOUND'
--/*
			-- Update variable table load id based on order no for OUTBOUND
			UPDATE tbl
			SET 
				order_number = ld.load_id
			FROM 
				@Ap_Tbl tbl
			LEFT JOIN 
				t_af_load_detail (NOLOCK) ld
			ON 
				tbl.order_number = ld.order_number AND tbl.wh_id = ld.wh_id
			WHERE 
				ld.order_number IS not NULL
				AND isnull(tbl.import_status,'') != 'E'
				AND tbl.type = 'OUTBOUND'
--*/
			-- Update record if appointment already exist
			UPDATE app
			SET 
					  carrier_id			=	carrier			
					, created				=	record_create_date
					, azb_pre_load_flag		=	pre_load_flag		
					, azb_commision_flag	=	commission_flag
					, expected_arrival		=	appointment_date_time	
					,azb_customer_appointment_number = customer_appointment_number
					,driver_name = tbl.driver_name
					,driver_phone_number = tbl.driver_phone_number
					,trailer_number = tbl.trailer_number
					,truck_number = tbl.truck_number
			FROM	
				t_appointment app 
			INNER JOIN 
				@Ap_Tbl  tbl
			ON 
				app.load_number = tbl.order_number
			WHERE 
				isnull(tbl.import_status,'') != 'E'

			--[4] begin qulron appointment update
			INSERT INTO OPENQUERY(
				QULRON,
				'SELECT msg_type, sender, receiver, status, err_text, warehouse, warehouse_code, warehouse_address,
						load_id, order_number, customer_name, customer_address, appointment_datetime, potential_weight,
						broker_name, driver_name, phone_number, dest_area, dest_location, property_1, property_2,
						property_3, record_create_id, record_create_date
				 FROM t_wms_sst_rcv_tab'
			)
			SELECT
				'UPD01' AS msg_type,
				'WMS' AS sender,
				'YMS' AS receiver,
				'00' AS status,
				NULL AS err_text,
				whse.name AS warehouse,
				lm.wh_id AS warehouse_code,
				whse.addr1 + ' ' + whse.city + ' ' + whse.state + ' ' + whse.zip AS warehouse_address,
				lm.load_id,
				NULL AS order_number,
				NULL AS customer_name,
				NULL AS customer_address,
				appointment_date_time AS appointment_datetime,
				NULL AS potential_weight,
				NULL AS broker_name,
				NULL AS driver_name,
				NULL AS phone_number,
				NULL AS dest_area,
				NULL AS dest_location,
				NULL AS property_1,
				NULL AS property_2,
				NULL AS property_3,
				'WMS' AS record_create_id,
				GETDATE() AS record_create_date
			FROM t_appointment app 
			INNER JOIN @Ap_Tbl apl
			ON app.load_number = apl.order_number
			INNER JOIN t_load_master lm WITH (NOLOCK)
				ON lm.load_id = apl.order_number
			INNER JOIN t_whse whse WITH (NOLOCK)
			ON whse.wh_id = lm.wh_id
			WHERE import_status NOT IN ('E');
			--[4] end


			UPDATE tbl
			SET 
				error_msg =  'Record Updated' 
				, import_status = 'S'
			FROM	
				@Ap_Tbl tbl
			INNER JOIN 
				t_appointment (NOLOCK) app 
			ON 
				app.load_number = tbl.order_number
			WHERE 
				isnull(tbl.import_status,'') != 'E'

			INSERT INTO	t_appointment
					(
					type
					, sub_type
					, priority
					, status
					, carrier_id
					, load_number
					, created
					, azb_orders
					, azb_pre_load_flag
					, azb_commision_flag
					, expected_arrival
					, state
					--, total_weight
					--, total_volume
					--, wh_id		????
					,azb_customer_appointment_number
					,driver_name
					,driver_phone_number
					,trailer_number
					,truck_number
					)
			SELECT
					type
					, type
					, 50
					, 'NEW'
					, carrier			
					, order_number
					, record_create_date
					, order_number
					, pre_load_flag		
					, commission_flag
					, appointment_date_time	
					, 'CA'-------------------------------????
					--, 0
					--, 0
		--			, fld.load_id
					,customer_appointment_number
					,driver_name
					,driver_phone_number
					,trailer_number
					,truck_number
			FROM 
				@Ap_Tbl
			WHERE 
				import_status NOT IN ('E','S')


			--[4] begin
			INSERT INTO OPENQUERY(
				QULRON,
				'SELECT msg_type, sender, receiver, status, err_text, warehouse, warehouse_code, warehouse_address,
						load_id, order_number, customer_name, customer_address, appointment_datetime, potential_weight,
						broker_name, driver_name, phone_number, dest_area, dest_location, property_1, property_2,
						property_3, record_create_id, record_create_date
				 FROM t_wms_sst_rcv_tab'
			)
			SELECT
				'ADD01' AS msg_type,
				'WMS' AS sender,
				'YMS' AS receiver,
				'00' AS status,
				NULL AS err_text,
				whse.name AS warehouse,
				lm.wh_id AS warehouse_code,
				whse.addr1 + ' ' + whse.city + ' ' + whse.state + ' ' + whse.zip AS warehouse_address,
				lm.load_id,
				ald.order_number,
				ord.ship_to_name AS customer_name,
				ord.ship_to_city + ' ' + ord.ship_to_state AS customer_address,
				appointment_date_time AS appointment_datetime,
				NULL AS potential_weight,
				car.carrier_name AS broker_name,
				NULL AS driver_name,
				NULL AS phone_number,
				NULL AS dest_area,
				NULL AS dest_location,
				NULL AS property_1,
				NULL AS property_2,
				NULL AS property_3,
				'WMS' AS record_create_id,
				GETDATE() AS record_create_date
			FROM @Ap_Tbl apl
			INNER JOIN t_load_master lm WITH (NOLOCK)
				ON lm.load_id = apl.order_number
			INNER JOIN t_af_load_detail ald WITH (NOLOCK)
				ON ald.wh_id = lm.wh_id
				AND ald.load_id = lm.load_id
			INNER JOIN t_order ord WITH (NOLOCK)
				ON ald.wh_id = ord.wh_id
				AND ald.order_number = ord.order_number
			INNER JOIN t_whse whse WITH (NOLOCK)
			ON whse.wh_id = lm.wh_id
			INNER JOIN t_carrier car WITH (NOLOCK)
			ON apl.carrier = car.carrier_id
			WHERE import_status NOT IN ('E', 'S');
			--[4] end


			-- Update Completed Rows
			UPDATE alp
			SET 
				import_status = 'S'
				, alp.error_msg	 = tbl.error_msg
			FROM 
				t_al_host_azb_appointment alp
			INNER JOIN
				@Ap_Tbl tbl
			ON 
				tbl.host_appointment_id = alp.host_appointment_id
			WHERE 
				isnull(tbl.import_status,'') != 'E'

			-- Update Error Rows
			UPDATE alp
			SET 
				alp.import_status = tbl.import_status
				, alp.error_msg	 = tbl.error_msg
			FROM
				t_al_host_azb_appointment  AS alp
			INNER JOIN
				@Ap_Tbl tbl
			ON
				alp.host_appointment_id = tbl.host_appointment_id
			WHERE 
				isnull(tbl.import_status,'') = 'E'

			SET @out_nNewAppointFlag = 1
			SET @out_vchCode = 'SUCCESS'

	END TRY
	BEGIN CATCH
		SET @out_nNewAppointFlag = 0
		SET @out_vchCode = 'ERROR'
		SET @out_vchMsg  = 'SQL FAILED'
	END CATCH


END