USE [AAD]
GO
/****** Object:  StoredProcedure [dbo].[usp_azb_ww_ddm_dc_action_open]    Script Date: 11/25/2025 11:21:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[usp_azb_ww_ddm_dc_action_open]
				@in_vchWhId						NVARCHAR(10)
				, @in_vchDockDoor				NVARCHAR(50)
				, @in_vchDocumentId				NVARCHAR(30)
				, @in_vchDestinationWhId		NVARCHAR(10)
				, @in_vchTrailerNumber			NVARCHAR(50)
				, @in_vchTrailerType			NVARCHAR(50)
				, @in_vchCarrierCode			NVARCHAR(30) 
				, @in_vchDriver					NVARCHAR(100) 
				, @in_vchDriverLicenseNumber	NVARCHAR(30)		--	[6]
				, @in_vchDriverLicenseState		NVARCHAR(2)			--	[6]
				, @in_vchDriverPhone			NVARCHAR(30)		--	[6]
				, @in_vchComment				NVARCHAR(1000)
				, @in_vchDeliveryType			NVARCHAR(50)
				, @in_vchDropShipReference		NVARCHAR(50)
				, @in_vchEmpId					NVARCHAR(10)
				, @in_dttmAppointmentDateTime	DATETIME
				, @in_nAppointmentDuration		INT
				, @in_nYardId					BIGINT
				, @in_vchSwitcherAssignment		NVARCHAR(1)	 = 'N'		--	[8]
				, @in_vchQulronCheckin			NVARCHAR(1) = 'N' --[9]
				, @in_vchQurlonMsgId			INT = NULL --[9]
				, @out_vchOutCode				NVARCHAR(30)	OUTPUT
				, @out_vchOutMessage			NVARCHAR(200)	OUTPUT
				, @ww_result					uddt_output_code     OUTPUT

AS
-- *******************************************************************************
-- Stored Procedure: usp_azb_ww_ddm_dc_action_open
-- *******************************************************************************
-- Database Name: AAD
-- Database User Name: dbo
-- *******************************************************************************
--
--  The purpose of this stored procedure is to open a doock door for production 
--	facility.
--
--  Notes:
--        
--
--  Target:
--        SQL Server 
--
-- ********************************************************************************
-- History
--  [id]	Date		Name	    Note
--	-------	-----------	-----------	----
--	[1]		2020-03-10	Wai			Created
--	[2]		2020-06-30	Wai			Added Appointment date time and duration
--	[3]		2020-10-15	Wai			Logged date in ddm table
--	[4]		2020-10-31	Wai			Check the door is not in used.
--	[5]		2020-11-18	Wai			Logged user in ddm table
--	[6]		2020-12-11	Wai			Added driver license #, license state, and phone
--	[7]		2024-02-22	Maggie		Appointment date time cannot be earlier than extend to 360 min from current time
--	[8]		2024-11-05	Lutfi		Create a switcher Assignment if needed
--  [9]		2025-11-24	Lutfi			Added Qulron Checkin
-- ********************************************************************************
BEGIN

	DECLARE
		@c_vchTransactionCode	NVARCHAR(3) = '400',
		--
		@v_vchInboundOrderNumber               NVARCHAR(30),
		@v_vchControlNumber                    NVARCHAR(30),
		@v_vchLoadID                           NVARCHAR(30),


		@v_nTransactionOnFlag	INT =	0,

		@v_vchTransactionDesc	NVARCHAR(50),
		@v_vchDestWarehouseId	NVARCHAR(10),
		@v_nDockDoorMgmtId		BIGINT,
		@v_nCount				INT,

		-- Interface
		@c_vchALSHMTransCode		NVARCHAR(3),
		@v_vchHostGroupId			NVARCHAR(36),

		-- 
		@v_dttmAppointStart		DATETIME,
		@v_dttmAppointEnd		DATETIME

		;

	-- [8]
	DECLARE @currentDate DATETIME
	,@vch_Description	NVARCHAR(100)
	,@in_vchWorkType	NVARCHAR(10)
	SET @currentDate = GETDATE()



	SET @out_vchOutCode = N'SUCCESS'
	SET @ww_result = N'PASS';

	BEGIN TRY
		---------------
		-- Validation
		---------------
		SET @v_dttmAppointStart = @in_dttmAppointmentDateTime;
		SET @v_dttmAppointEnd = dateadd(minute, @in_nAppointmentDuration, @in_dttmAppointmentDateTime);

		--	[4]
		IF EXISTS (SELECT 1 FROM t_azb_dock_door_management (NOLOCK)
					WHERE wh_id = @in_vchWhId AND dock_door = @in_vchDockDoor
					AND status NOT IN ('SHIPPED', N'SCHEDULED', 'CLOSED')
		)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Dock door '+ISNULL(@in_vchDockDoor,  '')+' is not available.'
		END 
		-- [2] New Appointment date time cannot be earlier than 360 min from current time
		ELSE IF @v_dttmAppointStart < dateadd(minute, -360, GETDATE())  -----[7]
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Dock Door appointment conflicts.'
		END
		/*
		ELSE IF EXISTS (SELECT 1 FROM t_azb_dock_door_management (NOLOCK) ddm
					WHERE wh_id = @in_vchWhId AND dock_door = @in_vchDockDoor
					AND (
						(ddm.appointment_date_time >= @v_dttmAppointStart
						and ddm.appointment_date_time < @v_dttmAppointEnd
						)
					or 
						(dateadd(minute, ddm.appointment_duration, ddm.appointment_date_time) > @v_dttmAppointStart 
						and dateadd(minute, ddm.appointment_duration, ddm.appointment_date_time) <= @v_dttmAppointEnd 
						)
					or 
						(ddm.appointment_date_time < @v_dttmAppointStart
						and dateadd(minute, ddm.appointment_duration, ddm.appointment_date_time) > @v_dttmAppointEnd
						)
					)
				)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Dock Door '+ISNULL(@in_vchDockDoor,  '')+' has appointment conflict.'
		END
		*/
		/*
		ELSE
		IF EXISTS (SELECT 1 FROM t_azb_dock_door_management (NOLOCK) ddm
					WHERE wh_id = @in_vchWhId AND dock_door = @in_vchDockDoor
					AND (
						(ddm.delivery_type = 'OUTBOUND' AND status NOT IN ('SHIPPED'))
						OR
						(ddm.delivery_type = 'INBOUND' AND status NOT IN ('CLOSED'))
						)
			)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Dock door '+ISNULL(@in_vchDockDoor,  '')+' is not avaible.'
		END 
		*/
		ELSE IF EXISTS (SELECT 1 FROM t_azb_dock_door_management (NOLOCK) 
				WHERE wh_id = @in_vchWhId
					AND document_id = @in_vchDocumentId
					AND delivery_type = @in_vchDeliveryType
			)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Duplicate document id.'
		END
		/*
		ELSE IF EXISTS (SELECT 1 FROM t_azb_dock_door_management (NOLOCK) 
				WHERE wh_id = @in_vchWhId
					AND drop_ship_reference = @in_vchDropShipReference 
					AND destination_wh_id = @in_vchDestinationWhId
					AND @in_vchDeliveryType = N'DROPSHIP'
					AND document_type = @in_vchDocumentType
				)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'Duplicate drop ship reference id.'
		END
		ELSE IF EXISTS (SELECT 1 FROM t_af_load_detail (NOLOCK) 
				WHERE wh_id = @in_vchDestinationWhId
					AND order_number = @in_vchDropShipReference
					AND @in_vchDocumentType = 'DDMDCOutbound'
				)
		BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = ISNULL(@in_vchDropShipReference, '') + ' has been load planned.'
		END
		*/
		-- Hold off until review the allocation for DC.
		ELSE IF @in_vchDeliveryType = 'OUTBOUND'
		BEGIN
			IF NOT EXISTS (SELECT 1
				FROM t_load_master (NOLOCK)
				WHERE wh_id = @in_vchWhId
					AND load_id = @in_vchDocumentId
					AND status NOT IN ('S', 'E')
			)
			BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'The load has issue.';
			END
		END
		ELSE IF @in_vchDeliveryType = 'INBOUND'
		BEGIN
			SELECT @v_nCount = COUNT(*)
				FROM t_po_master (NOLOCK)
				WHERE wh_id = @in_vchWhId
				AND po_number = @in_vchDocumentId
				AND status <> 'C'

			IF @v_nCount = 0
			BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'The PO is not available';
			END
			
			IF @out_vchOutCode = 'SUCCESS'
			BEGIN
				SELECT @v_nCount = COUNT(*)
					FROM t_azb_dock_door_management (NOLOCK) ddm
					WHERE wh_id = @in_vchWhId
					AND document_id = @in_vchDocumentId
					AND status <> 'CLOSED'
					
				IF @v_nCount > 0
				BEGIN
				SET @out_vchOutCode = 'ERROR'
				SET @out_vchOutMessage = 'The PO has assigned to a dock door.';
				END
			END

			-- What if the order is load planned and allocated and the load has multiple orders?
		END
		ELSE IF @in_vchDeliveryType = 'OUTBOUND'
		BEGIN
			SELECT @v_nCount = COUNT(*)
				FROM t_load_master (NOLOCK)
				WHERE wh_id = @in_vchWhId
				AND load_id = @in_vchDocumentId
				AND status <> 'S'

			IF @v_nCount = 0
			BEGIN
			SET @out_vchOutCode = 'ERROR'
			SET @out_vchOutMessage = 'The load is not available';
			END

			IF @out_vchOutCode = 'SUCCESS'
			BEGIN
				SELECT @v_nCount = COUNT(*)
					FROM t_azb_dock_door_management (NOLOCK) ddm
					WHERE wh_id = @in_vchWhId
					AND document_id = @in_vchDocumentId
					AND status <> 'SHIPPED'
					
				IF @v_nCount > 0
				BEGIN
				SET @out_vchOutCode = 'ERROR'
				SET @out_vchOutMessage = 'The load has assigned to a dock door.';
				END
			END
		END

		-- After validation, if OutCode is not SUCCESS then rturn.
		IF @out_vchOutCode <> 'SUCCESS' 
		BEGIN 
			SET @ww_result = N'FAIL'; 
			GOTO ERROR_LABEL;
		END

		IF @@TRANCOUNT = 0
		BEGIN
			SET @v_nTransactionOnFlag = 1;
			BEGIN TRANSACTION
		END
		
		INSERT INTO t_azb_dock_door_management
			(wh_id, dock_door, status, destination_wh_id
			, document_id, trailer_number, trailer_type
			, carrier_code, driver, delivery_type, drop_ship_reference
			, comment, appointment_date_time, appointment_duration
			, opened_date
			, opened_by
			, driver_license_number, driver_license_state, driver_phone			--	[6]
			)
			VALUES
			(@in_vchWhId, @in_vchDockDoor, N'OPENED', @in_vchDestinationWhId
			, @in_vchDocumentId, @in_vchTrailerNumber, @in_vchTrailerType
			, @in_vchCarrierCode, @in_vchDriver, @in_vchDeliveryType, @in_vchDropShipReference
			, @in_vchComment, @v_dttmAppointStart, @in_nAppointmentDuration
			, GETDATE()  --	[3]
			, @in_vchEmpId	--	[4]
			, @in_vchDriverLicenseNumber, @in_vchDriverLicenseState, @in_vchDriverPhone		--	[6]
			)
			;

		SET @v_nDockDoorMgmtId = @@IDENTITY;

		UPDATE t_azb_yard
			SET status = 'U', dock_door_management_id = @v_nDockDoorMgmtId
			WHERE yard_id = @in_nYardId
		
		--[8] create a switcher assignment
		IF @in_vchSwitcherAssignment = 'Y'
		BEGIN
			IF @in_vchDeliveryType = 'OUTBOUND'
			BEGIN
				SET @in_vchWorkType = '101'
			END
			ELSE IF @in_vchDeliveryType = 'INBOUND'
			BEGIN
				SET @in_vchWorkType = '102'
			END
		

		SELECT @vch_Description = description FROM t_switcher_work_types
		WHERE work_type = @in_vchWorkType
			INSERT INTO t_switchers_q
		VALUES(
			'YARD'
			,'YARD'
			,@in_vchWorkType
			,@vch_Description
			,@in_vchDocumentId
			,@in_vchTrailerNumber
			,'30'
			,@currentDate
			,NULL
			,@in_vchWhId
			,@in_vchDockDoor
			,'N'
			,'ANYONE'
			,NULL
			,NULL
			,@currentDate
			,@in_vchEmpId
			,@in_vchComment
			)
		END



		SELECT @v_vchTransactionDesc =  ISNULL(description, 'Dock Door (Open)')
			FROM t_transaction (NOLOCK)
			WHERE tran_type = @c_vchTransactionCode;

		IF @@ROWCOUNT = 0
			SET @v_vchTransactionDesc =  'Dock Door (Open)'

		-- SET @v_vchControlNumber = @in_vchDeliveryType;
		IF @in_vchDeliveryType = N'INBOUND'
			SET @v_vchInboundOrderNumber = @in_vchDocumentId;
		ELSE
			SET @v_vchLoadID = @in_vchDocumentId;

		-- INSERT INTO t_tran_log_holding (NOLOCK)
		EXECUTE [usp_log_transaction]
		    @in_vchEmpID                            = @in_vchEmpId,
			@in_vchSrcWhID                          = @in_vchWhId,
			@in_vchDestWhID                         = @in_vchDestinationWhId,
			@in_vchTranGroupID                      = NULL,
			@in_vchTranType                         = @c_vchTransactionCode,
			@in_vchDescription                      = @v_vchTransactionDesc,
			@in_vchLineNumber                       = NULL,
			@in_vchOutsideID                        = NULL,
			@in_vchSrcLocID                         = @in_vchDockDoor,
			@in_vchDestLocID                        = NULL,
			@in_vchSrcHUID                          = NULL,
			@in_vchDestHUID                         = NULL,
			@in_nNumOfItems                         = NULL,
			@in_vchItemNumber                       = NULL,
			@in_nTranQty                            = 0,
			@in_vchLotNumber                        = NULL,
			@in_vchUOM                              = NULL,
			@in_vchVerifyStatus                     = NULL,
			@in_vchEmpID2                           = NULL,
			@in_vchRoutingCode                      = NULL,
			@in_vchReturnDisposition                = NULL,
			@in_nSrcStorDeviceID                    = NULL,
			@in_nDestStorDeviceID                   = NULL,
			@in_vchWorkQID                          = NULL,
			@in_vchOutboundOrderNumber              = @in_vchDropShipReference,
			@in_vchInboundOrderNumber               = @v_vchInboundOrderNumber,
			@in_vchReceiptID                        = NULL,
			@in_vchActualCarrier                    = @in_vchCarrierCode,
			@in_vchServiceLevel                     = @in_vchDeliveryType,
			@in_vchPickID                           = NULL,
			@in_vchWaveID                           = NULL,
			@in_vchLoadID                           = @v_vchLoadID,
			@in_vchShipmentID                       = @in_vchDocumentId, --NVARCHAR(30),
			@in_vchAsnNumber                        = NULL,
			@in_vchReasonCode                       = NULL,
			@in_vchCustomer                         = NULL,
			@in_vchContainerNumber                  = NULL,
			@in_vchControlNumber                    = @v_nDockDoorMgmtId,
			@in_vchGroupID                          = NULL,
			@in_vchKitID                            = NULL,
			@in_vchKitLotNumber                     = NULL,
			@in_vchLocStatus                        = NULL,
			@in_vchLocStatus2                       = NULL,
			@in_vchTrackingNumber                   = NULL,
			@in_vchReleaseHolds                     = NULL,
			@in_vchOutboundOrderNumber2             = NULL,
			@in_vchMiscID                           = NULL,
			@in_vchSourceParentHUID                 = NULL,
			@in_vchDestinationParentHUID            = NULL,
			@in_vchGenericTxt1                      = @in_vchDriver,
			@in_vchGenericTxt2                      = @in_vchDriverLicenseNumber,
			@in_vchGenericTxt3                      = @in_vchDriverLicenseState,
			@in_vchGenericTxt4                      = @in_vchDriverPhone,
			@in_vchGenericTxt5                      = NULL,
			@in_fGenericFloat1                      = NULL,
			@in_fGenericFloat2                      = NULL,
			@out_vchCode                            = @out_vchOutCode  OUTPUT,
			@out_vchMsg                             = @out_vchOutMessage    OUTPUT

		IF @out_vchOutCode <> N'SUCCESS'
			GOTO ERROR_LABEL;
		-------------------------------------
		-- Upload 343 Load Release 
		-------------------------------------
		/*
		SET @c_vchALSHMTransCode = '343';
		SET @v_vchHostGroupId = NEWID();

		INSERT INTO t_al_host_shipment_master (
			host_group_id,
			al_processing,
			transaction_code,
			order_number,
			display_order_number,
			load_id,
			pro_number,
			seal_number,
			carrier_code,
			status,
			split_status,
			total_weight,
			total_volume,
			user_id,
			wh_id,
			client_code,
			record_create_date
		)
		SELECT 
			@v_vchHostGroupId AS host_group_id,
			N'N' as al_processing,
			@c_vchALSHMTransCode AS transaction_code,
			@in_vchDropShipReference AS order_number,
			NULL AS display_order_number,
			orm.route load_id,
			orm.bol_number pro_number,
			NULL seal_number,
			@in_vchCarrierCode carrier_code,
			NULL AS status,
			NULL AS split_status,
			NULL AS total_weight,
			NULL AS total_volume,
			@in_vchEmpId,
			orm.wh_id,
			orm.client_code,
			GETDATE() AS record_create_date
		FROM
			t_af_load_detail (NOLOCK) ldd
			JOIN t_order (NOLOCK) orm
			ON ldd.wh_id = orm.wh_id
			AND ldd.order_number = orm.order_number
		WHERE
			ldd.wh_id = @v_vchDestWarehouseId
			AND ldd.load_id = @in_vchDocumentId
			;		

		INSERT INTO t_al_host_sql_export_queue
			(host_group_id, export_type, status, date_inserted)
			VALUES
			(@v_vchHostGroupId, N'INVOICE', 'N', GETDATE());
		*/

		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			COMMIT TRANSACTION;
		END

		--[9] create assignment for driver if we are using qulron checkin (this cant be inside the commit , because no need to Disable transaction promotion for this linked server)
		IF @in_vchQulronCheckin = 'Y'
		BEGIN 
			BEGIN TRY
				-- create a task for driver in qulron
				INSERT INTO OPENQUERY(
					QULRON,
					'SELECT msg_type, sender, receiver, status, err_text, warehouse, warehouse_code, 
               warehouse_address, load_id, order_number, customer_name, dest_addr,
			   dest_city, dest_state, dest_zip, dest_country_code, appointment_datetime,
               potential_weight, broker_name, driver_name, phone_number,
			   dest_area, dest_location, property_1, property_2, property_3,
			   record_create_id, record_create_date FROM t_wms_sst_rcv_tab'
				)
				VALUES (
					'ADD02', 'WMS', 'YMS', '00', NULL, NULL, @in_vchWhId,
					NULL, @in_vchDocumentId, NULL, NULL, NULL,
					NULL, NULL, NULL, NULL, NULL,
					NULL, NULL, NULL, NULL,
					@in_vchWhId, @in_vchDockDoor, NULL, NULL, NULL,
					'WMS', GETDATE()
				);

				-- update the msg to complete (it got processed)
				DECLARE @sql NVARCHAR(MAX);

				SET @sql = '
				UPDATE OPENQUERY(QULRON,
					''SELECT * FROM t_wms_sst_snd_tab WHERE msg_id = ''''' + REPLACE(@in_vchQurlonMsgId, '''', '''''') + ''''''' )
				SET status = ''90'', 
					err_text = ''OK'', 
					record_update_id = ''WMS'', 
					record_update_date = CURRENT_TIMESTAMP';

				EXEC sp_executesql @sql;

			END TRY
			BEGIN CATCH
				PRINT 'Step failed but continuing...';
			END CATCH
		END
		--[9] End
		
		RETURN;

ERROR_LABEL:
		SET @ww_result = N'FAIL';
		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0 
			AND @out_vchOutCode <> 'SUCCESS'
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			ROLLBACK TRANSACTION;
		END
		
	END TRY
	BEGIN CATCH
		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			ROLLBACK TRANSACTION;
		END
	
		SET @out_vchOutCode = 'ERROR';
		SET @out_vchOutMessage = ERROR_MESSAGE();

		-- raiserror(@out_vchOutCode ,16,10)
		--THROW 60000, @out_vchOutMessage, 1;
		THROW;
	END CATCH
END
