USE [AAD]
GO
/****** Object:  StoredProcedure [dbo].[usp_azb_import_order_auto_load_plan]    Script Date: 12/2/2025 9:45:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[usp_azb_import_order_auto_load_plan]
				@in_vchHostGroupID          NVARCHAR(36)
				, @out_vchOutCode				NVARCHAR(30)	OUTPUT
				, @out_vchOutMessage			NVARCHAR(200)	OUTPUT

AS
-- *******************************************************************************
-- Stored Procedure: usp_azb_import_order_auto_load_plan
-- *******************************************************************************
-- Database Name: AAD
-- Database User Name: dbo
-- *******************************************************************************
--
--  The purpose of this stored procedure is to create load for new order and allocate.
--  For existing order and order qty changed, it will deallocate the load, update 
--  the quantity then reallocate
--
--  Notes:
--        
--
--  Target:
--        SQL Server 
--
-- ********************************************************************************
-- History
--  [id]	Date		Name	    Note
--	-------	-----------	-----------	----
--	[1]		2020-04-6	Wai			Created
--	[2]		2020-07-14	Wai			Changed married route order will come down in different host group
--	[3]		2020-08-20	Wai			Added to create task Q with delay instead of calling allocation sproc
--	[4]		2021-06-14	Wai			Disable autoallocation after load planned
--	[5]		2025-12-02	Lutfi       Added Qulron MSG Q for check in to register Load
-- ********************************************************************************
BEGIN

	DECLARE
		@c_vchCreateTaskDelay		INT = 20

		, @v_nTransactionOnFlag		INT =	0

		, @v_vchOutCode				NVARCHAR(30)
		, @v_vchOutMessage			NVARCHAR(200)
		, @v_vchWWResult			uddt_output_code

		, @v_nHostOrderMasterId		BIGINT
		, @v_vchWhId				NVARCHAR(10)
		, @v_vchOrderNumber			NVARCHAR(50)
		, @v_vchLoadId				NVARCHAR(50)
		, @v_vchAssignedLoadId		NVARCHAR(50)
		, @v_vchLoadPlanStatus		NVARCHAR(10)
		, @v_vchOrderQtyDispcrepancy		INT
		, @v_vchRoute				NVARCHAR(30)
		, @v_nLoadSeq				INT

		, @v_vchNextLoadId			NVARCHAR(30)
		, @v_nLoopCount				INT
		, @v_nSkipHostOrderMasterId	BIGINT

		--order_quantity_discrepancy
		-- 
		, @v_vchTransactionDesc		NVARCHAR(50)
		, @v_vchQuestion			NVARCHAR(200)

		, @v_nDockDoorMgmtId		BIGINT
		
		, @v_vchDockDoor			NVARCHAR(50)
		, @v_vchDocumentId			NVARCHAR(30)
		, @v_vchDestinationWhId		NVARCHAR(10)
		, @v_vchTrailerNumber		NVARCHAR(50)
		, @v_vchTrailerType			NVARCHAR(50)
		, @v_vchCarrierCode			NVARCHAR(30) 
		, @v_vchDriver				NVARCHAR(100) 
		, @v_vchComment				NVARCHAR(1000)
		, @v_vchDeliveryType		NVARCHAR(50)
		, @v_vchDropShipReference	NVARCHAR(50)
		, @v_vchEmpId				NVARCHAR(10)
		, @v_nCount				INT

		;

	SET @out_vchOutCode = N'SUCCESS'

	BEGIN TRY
		SELECT @c_vchCreateTaskDelay = c1
			FROM t_control (NOLOCK)
			where control_type = 'CREATE_TASK_DELAY';
		
		IF @@ROWCOUNT = 0
			SET @c_vchCreateTaskDelay = 20;

		---------------
		-- Validation
		---------------
		IF OBJECT_ID('tempdb..#tmp_t_load_order_auto_alloc') is not null
			DROP TABLE #tmp_t_load_order_auto_alloc;

		/*
		SELECT al_orm.host_order_master_id, al_orm.wh_id, al_orm.order_number, al_orm.load_id
			, ldm.load_id assigned_load_id, ISNULL(ldm.status, N'0') AS load_plan_status
			, orm.route
			, CASE 
				WHEN EXISTS (SELECT 1
					FROM t_order_detail (NOLOCK) ord1
					LEFT JOIN t_af_load_detail (NOLOCK) ald1
						ON ald1.wh_id = ord1.wh_id
						AND ald1.order_number = ord1.order_number
					LEFT JOIN t_af_load_detail_line (NOLOCK) aldl1
						ON ald1.load_detail_id = ald1.load_detail_id
						AND ord1.line_number = aldl1.line_number
						AND ord1.item_number = aldl1.item_number
						AND ord1.qty = aldl1.planned_qty
					WHERE ord1.wh_id = al_orm.wh_id
						AND ord1.order_number = al_orm.order_number
						AND ISNULL(ord1.qty, 0) <> ISNULL (aldl1.planned_qty, 0)
					) THEN 1
				WHEN EXISTS (SELECT 1
					FROM t_af_load_detail (NOLOCK) ald1
					JOIN t_af_load_detail_line (NOLOCK) aldl1
						ON ald1.load_detail_id = ald1.load_detail_id
					LEFT JOIN t_order_detail (NOLOCK) ord1
						ON ald1.wh_id = ord1.wh_id
						AND ald1.order_number = ord1.order_number
						AND ord1.line_number = aldl1.line_number
						AND ord1.item_number = aldl1.item_number
					WHERE ald1.wh_id = al_orm.wh_id
						AND ald1.order_number = al_orm.order_number
						AND ISNULL(ord1.qty, 0) <> ISNULL (aldl1.planned_qty, 0)
					) THEN 2
				ELSE 0 END AS order_quantity_discrepancy
			, N'N' status
			INTO #tmp_t_load_order_auto_alloc
			FROM t_al_host_order_master (NOLOCK) al_orm
			JOIN t_order (NOLOCK) orm
				ON orm.wh_id = al_orm.wh_id
				AND orm.order_number = al_orm.order_number
			LEFT JOIN t_af_load_detail (NOLOCK) ald
				ON al_orm.wh_id = ald.wh_id
				AND al_orm.order_number = ald.order_number
			LEFT JOIN t_load_master (NOLOCK) ldm
				ON ldm.wh_id = ald.wh_id
				AND ldm.load_id = ald.load_id
        WHERE 
            al_orm.host_group_id = @in_vchHostGroupID
			AND al_orm.import_status = N'S';
		*/
		-- [2]
		SELECT al_orm.host_order_master_id, al_orm.wh_id, al_orm.order_number, al_orm.load_id
			, ISNULL(ldm.load_id, route_load.load_id) assigned_load_id, ISNULL(ISNULL(ldm.status, route_load.status), N'0') AS load_plan_status
			, orm.route
			, CASE 
				WHEN EXISTS (SELECT 1
					FROM t_order_detail (NOLOCK) ord1
					LEFT JOIN t_af_load_detail (NOLOCK) ald1
						ON ald1.wh_id = ord1.wh_id
						AND ald1.order_number = ord1.order_number
					LEFT JOIN t_af_load_detail_line (NOLOCK) aldl1
						ON ald1.load_detail_id = ald1.load_detail_id
						AND ord1.line_number = aldl1.line_number
						AND ord1.item_number = aldl1.item_number
						AND ord1.qty = aldl1.planned_qty
					WHERE ord1.wh_id = al_orm.wh_id
						AND ord1.order_number = al_orm.order_number
						AND ISNULL(ord1.qty, 0) <> ISNULL (aldl1.planned_qty, 0)
					) THEN 1
				WHEN EXISTS (SELECT 1
					FROM t_af_load_detail (NOLOCK) ald1
					JOIN t_af_load_detail_line (NOLOCK) aldl1
						ON ald1.load_detail_id = ald1.load_detail_id
					LEFT JOIN t_order_detail (NOLOCK) ord1
						ON ald1.wh_id = ord1.wh_id
						AND ald1.order_number = ord1.order_number
						AND ord1.line_number = aldl1.line_number
						AND ord1.item_number = aldl1.item_number
					WHERE ald1.wh_id = al_orm.wh_id
						AND ald1.order_number = al_orm.order_number
						AND ISNULL(ord1.qty, 0) <> ISNULL (aldl1.planned_qty, 0)
					) THEN 2
				ELSE 0 END AS order_quantity_discrepancy
			, N'N' status
			INTO #tmp_t_load_order_auto_alloc
			FROM t_al_host_order_master (NOLOCK) al_orm
			JOIN t_order (NOLOCK) orm
				ON orm.wh_id = al_orm.wh_id
				AND orm.order_number = al_orm.order_number
			LEFT JOIN t_af_load_detail (NOLOCK) ald
				ON al_orm.wh_id = ald.wh_id
				AND al_orm.order_number = ald.order_number
			LEFT JOIN t_load_master (NOLOCK) ldm
				ON ldm.wh_id = ald.wh_id
				AND ldm.load_id = ald.load_id
			OUTER APPLY (SELECT TOP 1 ldm1.load_id, ldm1.status
				FROM t_order (nolock) orm1
				JOIN t_af_load_detail (nolock) ald1
					ON orm1.wh_id = ald1.wh_id
					AND orm1.order_number = ald1.order_number
				JOIN t_load_master (NOLOCK) ldm1
					ON ald1.wh_id = ldm1.wh_id
					AND ald1.load_id = ldm1.load_id
				WHERE orm1.wh_id = al_orm.wh_id
					AND orm1.route = al_orm.load_id
					AND ldm1.status NOT in ('R','S')
			) as route_load
        WHERE 
            al_orm.host_group_id = @in_vchHostGroupID
			AND al_orm.import_status = N'S';

		CREATE INDEX t_idx_tmp_load_order ON #tmp_t_load_order_auto_alloc
			(order_number, wh_id, load_id);

		CREATE INDEX t_idx_tmp_load_order2 ON #tmp_t_load_order_auto_alloc
			(host_order_master_id, order_number, wh_id, load_id, status);

		CREATE INDEX t_idx_tmp_load_order3 ON #tmp_t_load_order_auto_alloc
			(load_id, order_number, wh_id);

		-- Loop through all order / load
		-- 
		SET @v_nHostOrderMasterId = 0;
		WHILE (1 = 1)
		BEGIN
			SELECT TOP 1 
					@v_nHostOrderMasterId = host_order_master_id
					, @v_vchWhId = wh_id
					, @v_vchOrderNumber = order_number
					, @v_vchAssignedLoadId = assigned_load_id
					, @v_vchOrderQtyDispcrepancy = order_quantity_discrepancy
					, @v_vchLoadPlanStatus = load_plan_status
					, @v_vchRoute = route
				FROM #tmp_t_load_order_auto_alloc
				WHERE status = N'N'
				AND host_order_master_id > @v_nHostOrderMasterId
				ORDER BY host_order_master_id;

			IF @@ROWCOUNT = 0 BREAK;
			ELSE IF @v_vchOrderQtyDispcrepancy = 0 CONTINUE;
			ELSE IF @v_vchLoadPlanStatus = '0' -- Load plan is not created
			BEGIN
			BEGIN TRY
				---------------------------------------------
				-- 1. Create load
				-- Get Next Load ID
				---------------------------------------------
				SELECT @v_vchNextLoadId = CAST (NEXT VALUE FOR LOAD_ID AS NVARCHAR(30));

				-- Create load master record
				INSERT INTO t_load_master(load_id,
                          wh_id,
                          stage_loc,
                          door_loc,
                          carrier_id,
                          work_type,
                          earliest_ship_date,
                          latest_ship_date,
                          total_cost_tl)
					SELECT @v_vchNextLoadId AS laod_id,
						   @v_vchWhId as wh_id,
						   NULL as stage_loc,
						   NULL as dock_door,
						   NULL as carrier_id,
						   NULL,
						   NULL, 
						   NULL,
						   0 as total_cost_tl
					;

				---------------------------------------------
				-- 2. Create load detail and set tran qty = 0
				---------------------------------------------
				-- Begin transaction
				IF @@TRANCOUNT = 0 AND @v_nTransactionOnFlag = 0
				BEGIN
					SET @v_nTransactionOnFlag = 1;
					BEGIN TRANSACTION
				END

				--SET @v_nSkipHostOrderMasterId = @v_nHostOrderMasterId
				EXECUTE usp_afa_add_all_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchNextLoadId, NULL, NULL

				UPDATE #tmp_t_load_order_auto_alloc
					SET status = N'C'
					WHERE host_order_master_id = @v_nHostOrderMasterId;

				SET @v_nSkipHostOrderMasterId = @v_nHostOrderMasterId;		
				WHILE (1 = 1)
				BEGIN
					SELECT TOP 1
							@v_vchOrderNumber = order_number
							, @v_nSkipHostOrderMasterId = host_order_master_id
						FROM #tmp_t_load_order_auto_alloc
						WHERE host_order_master_id > @v_nSkipHostOrderMasterId
						AND @v_vchRoute = route
						AND @v_vchWhId = wh_id
						AND status = N'N'
						ORDER BY host_order_master_id;
					
					IF @@ROWCOUNT = 0 BREAK;
					ELSE
					BEGIN
						EXECUTE usp_afa_add_all_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchNextLoadId, NULL, NULL

						UPDATE #tmp_t_load_order_auto_alloc
							SET status = N'C'
							WHERE host_order_master_id = @v_nSkipHostOrderMasterId;
					END
				END

				EXECUTE usp_afa_add_stops_to_shipment @v_vchWhId, @v_vchNextLoadId, NULL

				/*
				DELETE t_afa_view_load_order 
				WHERE order_number = '{{order_number}}'
					AND wh_id = '{{wh_id}}'   
					AND view_id = '{{Local_View_ID}}'
					--AND user_id = '{{WW_USERNAME}}'
					AND load_id =  '{{Local_Load_ID}}'
				*/

				IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
				BEGIN
					SET @v_nTransactionOnFlag = 0;
					COMMIT TRANSACTION;
				END

				----------------
				-- 3. Allocation
				----------------
				--	[3]
				-- EXECUTE usp_af_azb_ww_allocate_load @v_vchWhId, @v_vchNextLoadId, 'SYSTEM', @v_vchOutCode OUTPUT, @v_vchOutMessage OUTPUT, @v_vchWWResult OUTPUT
				-- [4]
				/*
				INSERT INTO t_azb_task_creation_q
					(wh_id, load_id, date_added, delay_in_seconds)
					VALUES
					(@v_vchWhId, @v_vchNextLoadId, GETDATE(), @c_vchCreateTaskDelay);
				*/
			END TRY
			BEGIN CATCH
				IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
				BEGIN
					SET @v_nTransactionOnFlag = 0;
					ROLLBACK TRANSACTION;
				END
	
				SET @out_vchOutCode = 'ERROR';
				SET @out_vchOutMessage = ERROR_MESSAGE();

				-- THROW 60000, @out_vchOutMessage, 1;
			END CATCH
			-- [5]
			BEGIN TRY	
				INSERT INTO t_azb_qulron_orders_msg_q 
					(
						msg_type
						, status
						, wh_id
						, load_id
						, date_inserted
					)
				VALUES( 
					'ADD01',
					'00',
					@v_vchWhId,
					@v_vchNextLoadId,
					GETDATE()
					)
			END TRY
 
			BEGIN CATCH    
					SET @out_vchOutCode = 'ERROR';
					SET @out_vchOutMessage = ERROR_MESSAGE();
			END CATCH
			-- [5]
			END -- IF @v_vchLoadPlanStatus = '0'

			ELSE IF @v_vchLoadPlanStatus IN (N'N', N'H') AND @v_vchOrderQtyDispcrepancy > 0
			BEGIN
				-- 0.  Get the load sequence
				SET @v_nLoadSeq = -1;
				SELECT @v_nLoadSeq = load_seq
					FROM t_af_load_detail (NOLOCK)
					WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber;

				-- 1.  Remove from load
				EXECUTE usp_afa_remove_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, @v_vchOutMessage OUTPUT

				-- 2.  Add order to load
				EXECUTE usp_afa_add_all_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, NULL, NULL
				EXECUTE usp_afa_add_stops_to_shipment @v_vchWhId, @v_vchAssignedLoadId, NULL

				UPDATE t_af_load_detail
					SET load_seq = @v_nLoadSeq 
					WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber
						AND @v_nLoadSeq > 0;

				UPDATE #tmp_t_load_order_auto_alloc
					SET status = N'C'
					WHERE host_order_master_id = @v_nHostOrderMasterId;
			END
			ELSE IF @v_vchLoadPlanStatus IN (N'P', N'A', N'F') AND @v_vchOrderQtyDispcrepancy > 0
			BEGIN
				---------------------------
				-- 0.  Get the load sequence
				---------------------------
				SET @v_nLoadSeq = -1;
				SELECT @v_nLoadSeq = load_seq
					FROM t_af_load_detail (NOLOCK)
					WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber;

				---------------------------
				-- 1. Deallocation the load
				---------------------------
				EXECUTE usp_af_azb_ww_deallocate_load @v_vchWhId, @v_vchAssignedLoadId, 'SYSTEM', @v_vchOutCode OUTPUT, @v_vchOutMessage OUTPUT, @v_vchWWResult OUTPUT

				----------------------------------
				-- 2. Update/insert to load detail
				----------------------------------
				-- 1.  Remove from load
				EXECUTE usp_afa_remove_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, @v_vchOutMessage OUTPUT

				-- 2.  Add order to load
				EXECUTE usp_afa_add_all_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, NULL, NULL
				EXECUTE usp_afa_add_stops_to_shipment @v_vchWhId, @v_vchAssignedLoadId, NULL

				-- 3. Set the original load_seq
				UPDATE t_af_load_detail
					SET load_seq = @v_nLoadSeq 
					WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber
						AND @v_nLoadSeq > 0;

				UPDATE #tmp_t_load_order_auto_alloc
					SET status = N'C'
					WHERE host_order_master_id = @v_nHostOrderMasterId;

				SET @v_nSkipHostOrderMasterId = @v_nHostOrderMasterId;
				WHILE (1 = 1)
				BEGIN
					SELECT TOP 1
							@v_vchOrderNumber = order_number
							, @v_nSkipHostOrderMasterId = host_order_master_id
							, @v_vchOrderQtyDispcrepancy = order_quantity_discrepancy
						FROM #tmp_t_load_order_auto_alloc
						WHERE host_order_master_id > @v_nSkipHostOrderMasterId
						AND assigned_load_id = @v_vchAssignedLoadId
						AND @v_vchWhId = wh_id
						AND status = N'N'
						ORDER BY host_order_master_id;

					IF @@ROWCOUNT = 0 BREAK;
					ELSE
					BEGIN
						IF  @v_vchOrderQtyDispcrepancy > 0
						BEGIN
							-- 0. Get load seq
							SET @v_nLoadSeq = -1;
							SELECT @v_nLoadSeq = load_seq
								FROM t_af_load_detail (NOLOCK)
								WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber;
						
							-- 1.  Remove from load
							EXECUTE usp_afa_remove_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, @v_vchOutMessage OUTPUT

							-- 2.  Add order to load
							EXECUTE usp_afa_add_all_order_data @v_vchOrderNumber, @v_vchWhId, @v_vchAssignedLoadId, NULL, NULL
							EXECUTE usp_afa_add_stops_to_shipment @v_vchWhId, @v_vchAssignedLoadId, NULL

							-- 3. Set the original load_seq
							UPDATE t_af_load_detail
								SET load_seq = @v_nLoadSeq 
								WHERE wh_id = @v_vchWhId AND load_id = @v_vchAssignedLoadId AND order_number = @v_vchOrderNumber
									AND @v_nLoadSeq > 0;
						END
						UPDATE #tmp_t_load_order_auto_alloc
							SET status = N'C'
							WHERE host_order_master_id = @v_nSkipHostOrderMasterId;
					END
				END
				----------------
				-- 3. Allocation
				----------------
				--	[3]
				-- EXECUTE usp_af_azb_ww_allocate_load @v_vchWhId, @v_vchAssignedLoadId, 'SYSTEM', @v_vchOutCode OUTPUT, @v_vchOutMessage OUTPUT, @v_vchWWResult OUTPUT
				-- [4]
				/*
				INSERT INTO t_azb_task_creation_q
					(wh_id, load_id, date_added, delay_in_seconds)
					VALUES
					(@v_vchWhId, @v_vchAssignedLoadId, GETDATE(), @c_vchCreateTaskDelay);
				*/

			END -- IF @v_vchLoadPlanStatus NOT IN ('A', 'F') AND @v_vchOrderQtyDispcrepancy > 0
			ELSE IF @v_vchLoadPlanStatus NOT IN ('R', 'S') 
				CONTINUE;

		END

		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			COMMIT TRANSACTION;
		END
		
		RETURN;

ERROR_LABEL:
		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0 
			AND @out_vchOutCode <> 'SUCCESS'
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			ROLLBACK TRANSACTION;
		END
		
	END TRY
	BEGIN CATCH
		IF @v_nTransactionOnFlag = 1 AND @@TRANCOUNT > 0
		BEGIN
			SET @v_nTransactionOnFlag = 0;
			ROLLBACK TRANSACTION;
		END
	
		SET @out_vchOutCode = 'ERROR';
		SET @out_vchOutMessage = ERROR_MESSAGE();

		-- raiserror(@out_vchOutCode ,16,10)
		THROW 60000, @out_vchOutMessage, 1;
	END CATCH
END
