<div class="container">
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <div class="data-box" *ngIf="user">
    <div class="field">
      Username:
      <p>{{ user.username }}</p>
    </div>
    <div class="field">
      Role:
      <p>{{ user.role }}</p>
    </div>
    <div class="field">
      First Name:
      <p>{{ user.firstName }}</p>
    </div>
    <div class="field">
      Last Name:
      <p>{{ user.lastName }}</p>
    </div>
    <div class="field">
      Email:
      <p>{{ user.email }}</p>
    </div>
    <div class="field">
      Phone:
      <p>{{ user.phone }}</p>
    </div>
  </div>
  <div class="btns-list">
    <button class="btn" (click)="updateUser()">Update Profile</button>
    <button class="btn" (click)="updatePassword()">Update Password</button>
  </div>
</div>
