.container {
  width: 750px;
  /* background-color: rgba(66, 66, 66, 0.719); */
  /* backdrop-filter: blur(40px); */
  border: 1px solid rgba(229, 229, 229, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.64);
  border-radius: 10px;
  padding: 40px 35px 55px;
  margin: 50px auto 70px;
  color: white;
}

.container .data-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.data-box .field {
  position: relative;
  width: 45%;
  height: 50px;
  margin: 13px 0;
  padding: 5px;
}

.data-box .field p {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
}

.btns-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 0 0 0;
}

.btn {
  padding: 9px;
  margin: 0px 2px;
  font-size: 16px;
  color: #c9c9c9;
  background-color: #222533;
  border: 2px solid #e6e6ef;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover {
  background-color: #2c52fa;
  box-shadow: 0 0 5px #e6e6ef;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .data-box .field {
    width: 100%;
    margin: 10px 0;
  }
}
