.dashboard {
  padding: 15px 30px;
  overflow: auto;
}
.dashboard-top {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-top h2 {
  color: #c9c9c9;
}

.dashboard-top .addWidgetbtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 5px 10px;
  color: #c9c9c9;
  font-weight: 600;
  background-color: #222533;
  border: 2px solid #e6e6ef;
  border-radius: 16px;
  cursor: pointer;
  fill: #c9c9c9;
}

.dashboard-top .addWidgetbtn:hover {
  background-color: #2c52fa;
  box-shadow: 0 0 5px #e6e6ef;
}

.dashboard-top .addWidgetbtn.active {
  background-color: #1941f1;
  box-shadow: 0 0 5px #e6e6ef;
  color: #c9c9c9;
  fill: #c9c9c9;
}

.dashboard-top .addWidgetbtn.disabled-btn {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
  transition: all 0.2s ease;
}

.widgetsToAdd-wrapper {
  position: relative;
  display: inline-block;
}

.widgetsToAdd-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #222533;
  z-index: 100;
  border-radius: 10px;
  padding: 2px 0;
  min-width: 160px;
}

.widgetsToAdd-menu button {
  display: flex;
  color: #c9c9c9;
  font-weight: 600;
  width: 100%;
  padding: 8px 12px;
  background: none;
  box-shadow: none;
  border: none;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
}

.widgetsToAdd-menu button:hover {
  background-color: #1941f1;
  color: #c9c9c9;
}

.dashboard-container {
  margin-top: 30px;
  margin-left: 30px;
  flex: 1;
  height: 100%;
}
/* so one cell of our grid is 200px by 150px */
.dashboard-widgets {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 16px;
}
