.container {
  width: 750px;
  /* background-color: rgba(66, 66, 66, 0.719); */
  /* backdrop-filter: blur(40px); */
  border: 1px solid rgba(229, 229, 229, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.64);
  border-radius: 10px;
  padding: 40px 35px 55px;
  margin: 50px auto 70px;
  color: white;
}

.container .data-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.data-box .field {
  position: relative;
  width: 45%;
  height: 50px;
  margin: 13px 0;
  padding: 5px;
}

.data-box .field p,
.data-box .field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
}
