.sidebar {
  box-sizing: border-box;
  height: 100%;
  width: 250px;
  padding: 5px 1em;
  background-color: var(--base-clr);
  border-right: 1px solid var(--line-clr);
  transition: 300ms ease-in-out;
  text-wrap: nowrap;
  position: sticky;
  top: 0;
  align-self: self-start;
  overflow: auto; /* Allows scrolling if needed */
  scrollbar-width: none; /*hide scroll bar */
}

.sidebar.close {
  padding: 5px;
  width: 60px;
}

.sidebar > ul > li:first-child {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
  .logo {
    font-weight: 600;
  }
}

.sidebar .logo {
  border-radius: 0.5em;
  padding: 0.85em;
  text-decoration: none;
  color: var(--text-clr);
  display: flex;
  align-items: center;

  cursor: pointer;
}

.toggle-btn {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: none;
  cursor: pointer;

  svg {
    transition: rotate 150ms ease;
  }
}

.toggle-btn:hover {
  background-color: var(--hover-clr);
}
