.container {
  width: 750px;
  /* background-color: rgba(66, 66, 66, 0.719); */
  /* backdrop-filter: blur(40px); */
  border: 1px solid rgba(229, 229, 229, 0.4);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.64);
  border-radius: 10px;
  padding: 40px 35px 55px;
  margin: 50px auto 70px;
  color: white;
}

.container .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input-box .input-field,
.input-box .select-field {
  position: relative;
  width: 45%;
  height: 50px;
  margin: 13px 0;
}

.input-box .input-field input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
  border-radius: 6px;
  padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
  color: white;
}

.input-box .input-field svg,
.input-box .select-field svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.input-box .select-field select {
  width: 100%;
  height: 100%;

  padding: 12px 40px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #ffffff33;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  appearance: none;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-box .select-field select:focus {
  background-color: #1e1e1e;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
  .input-box .input-field,
  .input-box .select-field {
    width: 100%;
    margin: 10px 0;
  }
}

.success-message {
  color: #35dc43;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
.error-message {
  color: #dc3545;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}
