/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* @import url("@angular/material/prebuilt-themes/azure-blue.css"); */
:root {
  --primary-color: #11121a;
  --hover-color: #272832;
  --accent-color: #0071ff;
  --text-color: #c9c9c9;
  --base-clr: #11121a;
  --line-clr: #42434a;
  --hover-clr: #222533;
  --text-clr: #e6e6ef;
  --accent-clr: #5e63ff;
  --secondary-text-clr: #b0b3c1;
  --sidebar-btn-hover-clr: #1941f1;

  /* Report Comp Light Mode */

  /* --table-container-border-clr: #dee2e6;
  --table-container-bg-clr: #fff;
  --table-thead-bg-clr: #ececec;
  --table-thead-th-border-clr: #dee2e6;
  --table-thead-th-font-clr: #333;
  --table-tbody-td-even-child-bg-clr: #f5f5f5;
  --table-tbody-td-border-clr: #dee2e6;
  --table-nav-border-clr: #dee2e6;
  --table-nav-btn-fill-clr: #11121a;
  --table-nav-btn-border-clr: #ccc;
  --table-nav-btn-bg-hover-clr: #ddd;
  --table-footer-border-clr: #dee2e6;
  --table-footer-font-clr: #666; */

  /* Report Comp Data Mode */

  --table-container-border-clr: #dee2e6;
  --table-container-bg-clr: #11121a;
  --table-thead-bg-clr: #222235;
  --table-thead-th-border-clr: #dee2e6;
  --table-thead-th-font-clr: #e6e6ef;
  --table-tbody-td-font-clr: #e6e6ef;
  --table-tbody-td-even-child-bg-clr: #1b1c28;
  --table-tbody-td-border-clr: #dee2e6;
  --table-nav-border-clr: #dee2e6;
  --table-nav-btn-fill-clr: #e6e6ef;
  --table-nav-btn-border-clr: #ccc;
  --table-nav-btn-bg-hover-clr: #ddd;
  --table-nav-btn-fill-hover-clr: #11121a;
  --table-footer-border-clr: #dee2e6;
  --table-footer-font-clr: #e6e6ef;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5rem;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
